<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comments</key>
	<dict>
		<key>StartTag</key>
		<string>#</string>
	</dict>
	<key>Name</key>
	<string>bash</string>
	<key>LineCompletion</key>
	<string>;</string>
	<key>VariablePrefixes</key>
	<array>
		<string>$</string>
		<string>@</string>
		<string>#</string>
	</array>
	<key>SymbolTableContext</key>
	<dict>
		<key>MatchContexts</key>
		<array>
			<dict>
				<key>State</key>
				<string>SEEMode.bash</string>
				<key>Type</key>
				<string>language.variable.bash</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
