<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<key>Comments</key>	
	<dict>
		<key>StartTag</key><string>^rem{</string>
		<key>EndTag</key><string>}</string>
	</dict>

	<key>SymbolTableContext</key>
	<dict>
		<key>IncludeContexts</key>
		<array>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>Parser Include</string>
			</dict>
		</array>
		<key>MatchContexts</key>
		<array>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>P3 Base Classes</string>
			</dict>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>P3 Classes</string>
			</dict>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>P3 Types</string>
			</dict>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>P3 Variable</string>
			</dict>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>P3 Attributes</string>
			</dict>
			<dict>
				<key>State</key>
				<string>SEEMode.Parser</string>
				<key>Type</key>
				<string>P3 Method</string>
			</dict>
		</array>
	</dict>

	<key>Completions</key>
	<array>



<!-- ^# -->
<!-- 
		<dict>	
			<key>ID</key>
			<string>^#</string>
			<key>String</key>
			<string>^#</string>
			<key>SelectionRange</key>
			<string>{2, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>20</string>
				</dict>
				<dict>
					<key>String</key>
					<string>A0</string>
				</dict>
			</array>
		</dict> 
-->

<!-- ^apply-taint -->
		<dict>	
			<key>ID</key>
			<string>^apply-taint[]</string>
			<key>String</key>
			<string>^apply-taint[]</string>
			<key>SelectionRange</key>
			<string>{13, 0}</string>
			<key>PostString</key>
			<string></string>
			<key>Parameters</key>
			<array>
				<string>text</string>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>^apply-taint[][]</string>
			<key>String</key>
			<string>^apply-taint[][]</string>
			<key>SelectionRange</key>
			<string>{13, 0}</string>
			<key>PostString</key>
			<string></string>
			<key>Parameters</key>
			<array>
				<string>conversion</string>
			</array>
		</dict>

<!-- ^BASE -->
		<dict>	
			<key>ID</key>
			<string>^BASE</string>
			<key>String</key>
			<string>^BASE</string>
			<key>PostString</key>
			<string>:</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- ^break[] -->
		<dict>	
			<key>ID</key>
			<string>^break[]</string>
			<key>String</key>
			<string>^break[]</string>
		</dict>

<!-- ^caller -->
		<dict>	
			<key>ID</key>
			<string>^caller</string>
			<key>String</key>
			<string>^caller</string>
		</dict>

<!-- ^cache -->
		<dict>	
			<key>ID</key>
			<string>^cache[]()</string>
			<key>String</key>
			<string>^cache[]()</string>
			<key>PostString</key>
			<string>{}</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
			<key>Parameters</key>
			<array>
				<string>file</string>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>^cache[][]</string>
			<key>String</key>
			<string>^cache[][]</string>
			<key>PostString</key>
			<string>{}</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
			<key>Parameters</key>
			<array>
				<string>file</string>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>^cache[]</string>
			<key>String</key>
			<string>^cache[]</string>
		</dict>

<!-- ^connect -->
		<dict>	
			<key>ID</key>
			<string>^connect[$connect_string]{}</string>
			<key>String</key>
			<string>^connect[$connect_string]{}</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{26, 0}</string>
			<key>Parameters</key>
			<array>
				<string>code</string>
			</array>
		</dict>

<!-- ^curl -->
		<dict>	
			<key>ID</key>
			<string>^curl</string>
			<key>String</key>
			<string>^curl</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>:load</string>
					<key>MoveCursor</key>
					<integer>1</integer>
					<key>PostString</key>
					<string>[]</string>
				</dict>
				<dict>
					<key>String</key>
					<string>:options</string>
					<key>MoveCursor</key>
					<integer>1</integer>
					<key>PostString</key>
					<string>[]</string>
					<key>SelectionRange</key>
					<string>{9, 0}</string>
					<key>Parameters</key>
					<array>
						<string>options</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>:session</string>
					<key>MoveCursor</key>
					<integer>1</integer>
					<key>PostString</key>
					<string>{}</string>
					<key>SelectionRange</key>
					<string>{9, 0}</string>
					<key>Parameters</key>
					<array>
						<string>code</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>:version[]</string>
				</dict>
			</array>
		</dict>

<!-- ^continue[] -->
		<dict>	
			<key>ID</key>
			<string>^continue[]</string>
			<key>String</key>
			<string>^continue[]</string>
		</dict>

<!-- ^date -->
		<dict>	
			<key>ID</key>
			<string>^date</string>
			<key>String</key>
			<string>^date</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>::create</string>
				</dict>
				<dict>
					<key>String</key>
					<string>::now(0)</string>
					<key>SelectionRange</key>
					<string>{6, 1}</string>
				</dict>
				<dict>
					<key>String</key>
					<string>::now[]</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>::unix-timestamp</string>
					<key>String</key>
					<string>::unix-timestamp</string>
					<key>PostString</key>
					<string>()</string>
					<key>SelectionRange</key>
					<string>{17, 0}</string>
					<key>Parameters</key>
					<array>
						<string>timestamp</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>:calendar</string>
					<key>PostString</key>
					<string>[rus](;)</string>
					<key>SelectionRange</key>
					<string>{10, 3}</string>
				</dict>
				<dict>
					<key>String</key>
					<string>:last-day</string>
					<key>MoveCursor</key>
					<integer>1</integer>
					<key>PostString</key>
					<string>(;)</string>
				</dict>
				<dict>
					<key>String</key>
					<string>:today[]</string>
				</dict>
			</array>
		</dict>

<!-- ^double -->
		<dict>	
			<key>ID</key>
			<string>^double</string>
			<key>String</key>
			<string>^double</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>:sql{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{5, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>:sql{}[ $.limit(0) $.default(0) ]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{5, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
			</array>
		</dict>

<!-- ^eval() -->
		<dict>	
			<key>ID</key>
			<string>^eval</string>
			<key>String</key>
			<string>^eval</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- ^for -->
		<dict>	
			<key>ID</key>
			<string>^for</string>
			<key>String</key>
			<string>^for</string>
			<key>SelectionRange</key>
			<string>{8, 0}</string>
			<key>PostString</key>
			<string>[i](;){}</string>
		</dict>

<!-- ^hash -->
		<dict>	
			<key>ID</key>
			<string>^hash</string>
			<key>String</key>
			<string>^hash</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>::create</string>
					<key>MoveCursor</key>
					<integer>2</integer>
					<key>PostString</key>
					<string>[]</string> 
				</dict>
				<dict>
					<key>String</key>
					<string>::sql{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{6, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::sql{}[ $.limit(0) ]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{6, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
			</array>
		</dict>

<!-- ^if -->
		<dict>	
			<key>ID</key>
			<string>^if</string>
			<key>String</key>
			<string>^if</string>
			<key>SelectionRange</key>
			<string>{4, 0}</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>PostString</key>
			<string>(){}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>def</string>
					<key>PostString</key>
					<string> </string>
					<key>MoveCursor</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>String</key>
					<string>in</string>
					<key>PostString</key>
					<string> ""</string>
					<key>SelectionRange</key>
					<string>{4, 0}</string>
					<key>Parameters</key>
					<array>
						<string>dir</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>is double</string>
				</dict>
				<dict>
					<key>String</key>
					<string>is hash</string>
				</dict>
				<dict>
					<key>String</key>
					<string>is int</string>
				</dict>
				<dict>
					<key>String</key>
					<string>is string</string>
				</dict>
				<dict>
					<key>String</key>
					<string>is table</string>
				</dict>
				<dict>
					<key>String</key>
					<string>-d</string>
					<key>PostString</key>
					<string> ""</string>
					<key>SelectionRange</key>
					<string>{4, 0}</string>
					<key>Parameters</key>
					<array>
						<string>dir</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>-f</string>
					<key>PostString</key>
					<string> ""</string>
					<key>SelectionRange</key>
					<string>{4, 0}</string>
					<key>Parameters</key>
					<array>
						<string>file</string>
					</array>
				</dict>
			</array>
		</dict>

<!-- ^int -->
		<dict>	
			<key>ID</key>
			<string>^int</string>
			<key>String</key>
			<string>^int</string>
			<key>SelectionRange</key>
			<string>{4, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>:sql{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{5, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>:sql{}[ $.limit(0) $.default(0) ]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{5, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
			</array>
		</dict>

<!-- ^process -->
		<dict>	
			<key>ID</key>
			<string>^process{}</string>
			<key>String</key>
			<string>^process{}</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>Parameters</key>
			<array>
				<string>string</string>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>^process[]{}</string>
			<key>String</key>
			<string>^process[]{}</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>Parameters</key>
			<array>
				<string>context</string>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>^process[]{}[]</string>
			<key>String</key>
			<string>^process[]{}[]</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>Parameters</key>
			<array>
				<string>context</string>
			</array>
		</dict>

<!-- ^rem -->
		<dict>
			<key>ID</key>
			<string>^rem{}</string>
			<key>String</key>
			<string>^rem{}</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
			<key>Parameters</key>
			<array>
				<string>comment</string>
			</array>
		</dict>

<!-- ^string -->
		<dict>
			<key>ID</key>
			<string>^string</string>
			<key>String</key>
			<string>^string</string>
			<key>PostString</key>
			<string></string>
		</dict>

<!-- ^switch -->
		<dict>	
			<key>ID</key>
			<string>^switch</string>
			<key>String</key>
			<string>^switch</string>
		</dict>

<!-- ^sleep -->
		<dict>	
			<key>ID</key>
			<string>^sleep()</string>
			<key>String</key>
			<string>^sleep()</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
		</dict>

<!-- ^table -->
		<dict>	
			<key>ID</key>
			<string>^table</string>
			<key>String</key>
			<string>^table</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>::create{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{9, 0}</string>
					<key>Parameters</key>
					<array>
						<string>data</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::create[]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{9, 0}</string>
					<key>Parameters</key>
					<array>
						<string>table</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::create[nameless]{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{19, 0}</string>
					<key>Parameters</key>
					<array>
						<string>data</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::load[]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{7, 0}</string>
					<key>Parameters</key>
					<array>
						<string>file</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::load[nameless;]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{16, 0}</string>
					<key>Parameters</key>
					<array>
						<string>file</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::sql{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{6, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
				<dict>
					<key>String</key>
					<string>::sql{}[ $.limit() ]</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{6, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
			</array>
		</dict>

<!-- ^throw -->
		<dict>	
			<key>ID</key>
			<string>^throw</string>
			<key>String</key>
			<string>^throw</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
			<key>PostString</key>
			<string>[]</string>
			<key>Parameters</key>
			<array>
				<string>type;source;comment</string>
			</array>
		</dict>

<!-- ^try -->
		<dict>	
			<key>ID</key>
			<string>^try</string>
			<key>String</key>
			<string>^try</string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
			<key>PostString</key>
			<string>{}{}</string>
		</dict>

<!-- ^untaint -->
		<dict>	
			<key>ID</key>
			<string>^taint[]</string>
			<key>String</key>
			<string>^taint[]</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
			<key>PostString</key>
			<string></string>
			<key>Parameters</key>
			<array>
				<string>text</string>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>^taint[][]</string>
			<key>String</key>
			<string>^taint[][]</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
			<key>PostString</key>
			<string></string>
			<key>Parameters</key>
			<array>
				<string>conversion</string>
			</array>
		</dict>

<!-- ^untaint -->
		<dict>	
			<key>ID</key>
			<string>^untaint{}</string>
			<key>String</key>
			<string>^untaint{}</string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>PostString</key>
			<string></string>
			<key>Parameters</key>
			<array>
				<string>code</string>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>^untaint[]</string>
			<key>String</key>
			<string>^untaint[]</string>
			<key>PostString</key>
			<string>{}</string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>Parameters</key>
			<array>
				<string>conversion</string>
			</array>
			<!-- todo -->
			<!-- 
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>as-is</string>
				</dict>
				<dict>
					<key>String</key>
					<string>file-spec</string>
				</dict>
				<dict>
					<key>String</key>
					<string>js</string>
				</dict>
				<dict>
					<key>String</key>
					<string>json</string>
				</dict>
				<dict>
					<key>String</key>
					<string>html</string>
				</dict>
				<dict>
					<key>String</key>
					<string>http-header</string>
				</dict>
				<dict>
					<key>String</key>
					<string>mail-header</string>
				</dict>
				<dict>
					<key>String</key>
					<string>optimized-as-is</string>
				</dict>
				<dict>
					<key>String</key>
					<string>optimized-html</string>
				</dict>
				<dict>
					<key>String</key>
					<string>optimized-xml</string>
				</dict>
				<dict>
					<key>String</key>
					<string>parser-code</string>
				</dict>
				<dict>
					<key>String</key>
					<string>regex</string>
				</dict>
				<dict>
					<key>String</key>
					<string>sql</string>
				</dict>
				<dict>
					<key>String</key>
					<string>uri</string>
				</dict>
				<dict>
					<key>String</key>
					<string>xml</string>
				</dict>
			</array> 
			-->
		</dict>

<!-- ^use -->
		<dict>	
			<key>ID</key>
			<string>^use[]</string>
			<key>String</key>
			<string>^use[]</string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
			<key>PostString</key>
			<string></string>
			<key>Parameters</key>
			<array>
				<string>file</string>
			</array>
		</dict>

<!-- ^void -->
		<dict>	
			<key>ID</key>
			<string>^void</string>
			<key>String</key>
			<string>^void</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>:sql{}</string>
					<key>PostString</key>
					<string></string>
					<key>SelectionRange</key>
					<string>{5, 0}</string>
					<key>Parameters</key>
					<array>
						<string>query</string>
					</array>
				</dict>
			</array>
		</dict>

<!-- ^while -->
		<dict>	
			<key>ID</key>
			<string>^while</string>
			<key>String</key>
			<string>^while</string>
			<key>SelectionRange</key>
			<string>{7, 0}</string>
			<key>PostString</key>
			<string>(){}</string>
		</dict>




<!-- $._d -->
		<dict>	
			<key>ID</key>
			<string>$._default</string>
			<key>String</key>
			<string>$._default</string>
		</dict>




<!-- $.b -->
		<dict>	
			<key>ID</key>
			<string>$.bind</string>
			<key>String</key>
			<string>$.bind</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>8</integer>
		</dict>

<!-- $.c -->
		<dict>	
			<key>ID</key>
			<string>$.charset</string>
			<key>String</key>
			<string>$.charset</string>
			<key>PostString</key>
			<string>[UTF-8]</string>
			<key>SelectionRange</key>
			<string>{10, 5}</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.content-type</string>
			<key>String</key>
			<string>$.content-type</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.d -->
		<dict>	
			<key>ID</key>
			<string>$.default</string>
			<key>String</key>
			<string>$.default</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.distinct</string>
			<key>String</key>
			<string>$.distinct</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.distinct[tables]</string>
			<key>String</key>
			<string>$.distinct[tables]</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.domain</string>
			<key>String</key>
			<string>$.domain</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.e -->
		<dict>	
			<key>ID</key>
			<string>$.encloser</string>
			<key>String</key>
			<string>$.encloser</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.expires()</string>
			<key>String</key>
			<string>$.expires()</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.expires[]</string>
			<key>String</key>
			<string>$.expires[]</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.expires[session]</string>
			<key>String</key>
			<string>$.expires[session]</string>
		</dict>

<!-- $.f -->
		<dict>	
			<key>ID</key>
			<string>$.file</string>
			<key>String</key>
			<string>$.file</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.h -->
		<dict>	
			<key>ID</key>
			<string>$.httponly</string>
			<key>String</key>
			<string>$.httponly</string>
			<key>PostString</key>
			<string>(true)</string>
			<key>SelectionRange</key>
			<string>{11, 0}</string>
		</dict>

<!-- $.l -->
		<dict>	
			<key>ID</key>
			<string>$.library</string>
			<key>String</key>
			<string>$.library</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.limit</string>
			<key>String</key>
			<string>$.limit</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.lineno</string>
			<key>String</key>
			<string>$.lineno</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.m -->
		<dict>	
			<key>ID</key>
			<string>$.main</string>
			<key>String</key>
			<string>$.main</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.mode</string>
			<key>String</key>
			<string>$.mode</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.n -->
		<dict>	
			<key>ID</key>
			<string>$.name</string>
			<key>String</key>
			<string>$.name</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.o -->
		<dict>	
			<key>ID</key>
			<string>$.offset</string>
			<key>String</key>
			<string>$.offset</string>
			<key>PostString</key>
			<string>()</string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.offset[cur]</string>
			<key>String</key>
			<string>$.offset[cur]</string>
			<key>SelectionRange</key>
			<string>{9, 3}</string>
		</dict>

<!-- $.p -->
		<dict>	
			<key>ID</key>
			<string>$.path</string>
			<key>String</key>
			<string>$.path</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.r -->
		<dict>	
			<key>ID</key>
			<string>$.reverse</string>
			<key>String</key>
			<string>$.reverse</string>
			<key>PostString</key>
			<string>(true)</string>
			<key>SelectionRange</key>
			<string>{10, 4}</string>
		</dict>

<!-- $.s -->
		<dict>	
			<key>ID</key>
			<string>$.separator</string>
			<key>String</key>
			<string>$.separator</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.ssl_verifypeer</string>
			<key>String</key>
			<string>$.ssl_verifypeer</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.t -->
		<dict>
			<key>ID</key>
			<string>$.timeout</string>
			<key>String</key>
			<string>$.timeout</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>$.type</string>
			<key>String</key>
			<string>$.type</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- $.u -->
		<dict>
			<key>ID</key>
			<string>$.url</string>
			<key>String</key>
			<string>$.url</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>$.useragent</string>
			<key>String</key>
			<string>$.useragent</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>




<!--  $console -->
		<dict>	
			<key>ID</key>
			<string>$console</string>
			<key>String</key>
			<string>$console</string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>PostString</key>
			<string>:</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>line</string>
				</dict>
			</array>
		</dict>

<!-- $caller -->
		<dict>	
			<key>ID</key>
			<string>$caller</string>
			<key>String</key>
			<string>$caller</string>
		</dict>

<!-- $cookie -->
		<dict>	
			<key>ID</key>
			<string>$cookie</string>
			<key>String</key>
			<string>$cookie</string>
			<key>PostString</key>
			<string>:</string>
			<key>SelectionRange</key>
			<string>{8, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>fields</string>
				</dict>
			</array>
		</dict>

<!-- $env -->
		<dict>	
			<key>ID</key>
			<string>$env</string>
			<key>String</key>
			<string>$env</string>
			<key>PostString</key>
			<string>:</string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>HTTP_</string>
				</dict>
				<dict>
					<key>String</key>
					<string>PARSER_VERSION</string>
				</dict>
				<dict>
					<key>String</key>
					<string>REMOTE_ADDR</string>
				</dict>
			</array>
		</dict>

<!-- $exception -->
		<dict>	
			<key>ID</key>
			<string>$exception</string>
			<key>String</key>
			<string>$exception</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{10, 0}</string>
			
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>.colno</string>
				</dict>
				<dict>
					<key>String</key>
					<string>.comment</string>
				</dict>
				<dict>
					<key>String</key>
					<string>.file</string>
				</dict>
				<dict>
					<key>String</key>
					<string>.handled(true)</string>
					<key>SelectionRange</key>
					<string>{8, 4}</string>
				</dict>
				<dict>
					<key>String</key>
					<string>.lineno</string>
				</dict>
				<dict>
					<key>String</key>
					<string>.type</string>
				</dict>
				<dict>
					<key>String</key>
					<string>.source</string>
				</dict>
			</array> 
			
		</dict>

<!-- $form -->
		<dict>	
			<key>ID</key>
			<string>$form</string>
			<key>String</key>
			<string>$form</string>
			<key>PostString</key>
			<string>:</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>SelectionRange</key>
			<string>{6, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>fields</string>
				</dict>
				<dict>
					<key>String</key>
					<string>files</string>
				</dict>
				<dict>
					<key>String</key>
					<string>imap</string>
				</dict>
				<dict>
					<key>String</key>
					<string>qtail</string>
				</dict>
				<dict>
					<key>String</key>
					<string>tables</string>
				</dict>
			</array>
		</dict>

<!-- $request -->
		<dict>	
			<key>ID</key>
			<string>$request</string>
			<key>String</key>
			<string>$request</string>
			<key>PostString</key>
			<string>:</string>
			<key>SelectionRange</key>
			<string>{9, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>argv</string>
				</dict>
				<dict>
					<key>String</key>
					<string>body</string>
				</dict>
				<dict>
					<key>String</key>
					<string>charset</string>
					<key>PostString</key>
					<string>[]</string>
					<key>MoveCursor</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>String</key>
					<string>document-root</string>
					<key>PostString</key>
					<string>[]</string>
					<key>MoveCursor</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>String</key>
					<string>post-body</string>
				</dict>
				<dict>
					<key>String</key>
					<string>post-charset</string>
				</dict>
				<dict>
					<key>String</key>
					<string>query</string>
				</dict>
				<dict>
					<key>String</key>
					<string>uri</string>
				</dict>
			</array>
		</dict>

<!-- $result -->
		<dict>	
			<key>ID</key>
			<string>$result</string>
			<key>String</key>
			<string>$result</string>
		</dict>

<!-- $self -->
		<dict>	
			<key>ID</key>
			<string>$self</string>
			<key>String</key>
			<string>$self</string>
		</dict>

<!-- $xdoc -->
		<dict>	
			<key>ID</key>
			<string>$xdoc</string>
			<key>String</key>
			<string>$xdoc</string>
			<key>PostString</key>
			<string>:</string>
			<key>SelectionRange</key>
			<string>{6, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>ELEMENT_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>ATTRIBUTE_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>TEXT_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>CDATA_SECTION_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>ENTITY_REFERENCE_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>ENTITY_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>PROCESSING_INSTRUCTION_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>COMMENT_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>DOCUMENT_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>DOCUMENT_TYPE_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>DOCUMENT_FRAGMENT_NODE</string>
				</dict>
				<dict>
					<key>String</key>
					<string>NOTATION_NODE</string>
				</dict>
			</array>
		</dict>




<!-- d -->
	<!-- 	<dict>
			<key>ID</key>
			<string>def</string>
			<key>String</key>
			<string>def</string>

			<key>PostString</key>
			<string> </string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict> -->

<!-- i -->
		<dict>
			<key>String</key>
			<string>in ""</string>
			<key>MoveCursor</key>
			<integer>2</integer>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{4, 0}</string>
			<key>Parameters</key>
			<array>
				<string>dir</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>is double</string>
		</dict>
		<dict>
			<key>String</key>
			<string>is hash</string>
		</dict>
		<dict>
			<key>String</key>
			<string>is int</string>
		</dict>
		<dict>
			<key>String</key>
			<string>is string</string>
		</dict>
		<dict>
			<key>String</key>
			<string>is table</string>
		</dict>

<!-- f -->
		<dict>	
			<key>ID</key>
			<string>false</string>
			<key>String</key>
			<string>false</string>
		</dict>

<!-- t -->
		<dict>	
			<key>ID</key>
			<string>true</string>
			<key>String</key>
			<string>true</string>
		</dict>




<!-- _d -->
		<dict>
			<key>ID</key>
			<string>_default</string>
			<key>String</key>
			<string>_default</string>
		</dict>	

<!-- _a -->
		<dict>	
			<key>ID</key>
			<string>_at</string>
			<key>String</key>
			<string>_at</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>_at[first]</string>
			<key>String</key>
			<string>_at[first]</string>
			<key>SelectionRange</key>
			<string>{4, 5}</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>_at[last]</string>
			<key>String</key>
			<string>_at[last]</string>
			<key>SelectionRange</key>
			<string>{4, 5}</string>
		</dict>

<!-- _c -->
		<dict>	
			<key>ID</key>
			<string>_count[]</string>
			<key>String</key>
			<string>_count[]</string>
		</dict>

<!-- _k -->
		<dict>	
			<key>ID</key>
			<string>_keys[]</string>
			<key>String</key>
			<string>_keys[]</string>
		</dict>




<!-- .a -->

		<dict>	
			<key>ID</key>
			<string>.add</string>
			<key>String</key>
			<string>.add</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.append</string>
			<key>String</key>
			<string>.append</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .b -->

		<dict>	
			<key>ID</key>
			<string>.bool</string>
			<key>String</key>
			<string>.bool</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .c -->
		<dict>
			<key>ID</key>
			<string>.CLASS</string>
			<key>String</key>
			<string>.CLASS</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.CLASS_NAME</string>
			<key>String</key>
			<string>.CLASS_NAME</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.colno</string>
			<key>String</key>
			<string>.colno</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.columns</string>
			<key>String</key>
			<string>.columns</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>2</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.comment</string>
			<key>String</key>
			<string>.comment</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.contains</string>
			<key>String</key>
			<string>.contains</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.count</string>
			<key>String</key>
			<string>.count</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>2</integer>
		</dict>

<!-- .d -->
		<dict>
			<key>ID</key>
			<string>.day</string>
			<key>String</key>
			<string>.day</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.daylightsaving</string>
			<key>String</key>
			<string>.daylightsaving</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.dec</string>
			<key>String</key>
			<string>.dec</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.dec[]</string>
			<key>String</key>
			<string>.dec[]</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.delete</string>
			<key>String</key>
			<string>.delete</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.div</string>
			<key>String</key>
			<string>.div</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.double</string>
			<key>String</key>
			<string>.double</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .f -->
		<dict>	
			<key>ID</key>
			<string>.fields</string>
			<key>String</key>
			<string>.fields</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.file</string>
			<key>String</key>
			<string>.file</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.flip</string>
			<key>String</key>
			<string>.flip</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>2</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.foreach</string>
			<key>String</key>
			<string>.foreach</string>
			<key>PostString</key>
			<string>[key;value]{}</string>
			<key>MoveCursor</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.format</string>
			<key>String</key>
			<string>.format</string>
			<key>PostString</key>
			<string>[%.2f]</string>
			<key>SelectionRange</key>
			<string>{8, 4}</string>
		</dict>

<!-- .g -->
		<dict>	
			<key>ID</key>
			<string>.gmt-string[]</string>
			<key>String</key>
			<string>.gmt-string[]</string>
		</dict>

<!-- .h -->
		<dict>
			<key>ID</key>
			<string>.handled</string>
			<key>String</key>
			<string>.handled(true)</string>
			<key>SelectionRange</key>
			<string>{9, 4}</string>
			<key>PostString</key>
			<string></string>
			<!-- 
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>true</string>
				</dict>
				<dict>
					<key>String</key>
					<string>false</string>
				</dict>
			</array> 
			-->
		</dict>
		<dict>	
			<key>ID</key>
			<string>.hash</string>
			<key>String</key>
			<string>.hash</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.hour</string>
			<key>String</key>
			<string>.hour</string>
		</dict>

<!-- .i -->
		<dict>	
			<key>ID</key>
			<string>.inc</string>
			<key>String</key>
			<string>.inc</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.inc[]</string>
			<key>String</key>
			<string>.inc[]</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.int</string>
			<key>String</key>
			<string>.int</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.intersection</string>
			<key>String</key>
			<string>.intersection</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.intersects</string>
			<key>String</key>
			<string>.intersects</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .j -->
		<dict>	
			<key>ID</key>
			<string>.join</string>
			<key>String</key>
			<string>.join</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .l -->
		<dict>	
			<key>ID</key>
			<string>.last-day[]</string>
			<key>String</key>
			<string>.last-day[]</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.line</string>
			<key>String</key>
			<string>.line</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.lineno</string>
			<key>String</key>
			<string>.lineno</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.locate</string>
			<key>String</key>
			<string>.locate</string>
		</dict>

<!-- .m -->
		<dict>	
			<key>ID</key>
			<string>.menu</string>
			<key>String</key>
			<string>.menu</string>
			<key>PostString</key>
			<string>{}</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.minute</string>
			<key>String</key>
			<string>.minute</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.mod</string>
			<key>String</key>
			<string>.mod</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.month</string>
			<key>String</key>
			<string>.month</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.mul</string>
			<key>String</key>
			<string>.mul</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .o -->
		<dict>	
			<key>ID</key>
			<string>.offset</string>
			<key>String</key>
			<string>.offset</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.offset[cur]</string>
			<key>String</key>
			<string>.offset[cur]</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .r -->
		<dict>
			<key>ID</key>
			<string>.roll[day]</string>
			<key>String</key>
			<string>.roll[day]</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.roll[month]</string>
			<key>String</key>
			<string>.roll[month]</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.roll[TZ]</string>
			<key>String</key>
			<string>.roll[TZ]</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.roll[year]</string>
			<key>String</key>
			<string>.roll[year]</string>
			<key>PostString</key>
			<string>()</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .s -->
		
		<dict>
			<key>ID</key>
			<string>.save[]</string>
			<key>String</key>
			<string>.save[]</string>
			<key>SelectionRange</key>
			<string>{6, 0}</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.second</string>
			<key>String</key>
			<string>.second</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.save[nameless;]</string>
			<key>String</key>
			<string>.save[nameless;]</string>
			<key>SelectionRange</key>
			<string>{15, 0}</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>.save[append;]</string>
			<key>String</key>
			<string>.save[append;]</string>
			<key>MoveCursor</key>
			<integer>13</integer>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.select()</string>
			<key>String</key>
			<string>.select()</string>
			<key>PostString</key>
			<string>()</string>
			<key>SelectionRange</key>
			<string>{8, 0}</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.sort</string>
			<key>String</key>
			<string>.sort</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.source</string>
			<key>String</key>
			<string>.source</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.sql-string</string>
			<key>String</key>
			<string>.sql-string</string>
			<key>PostString</key>
			<string>[]</string>
			<key>SelectionRange</key>
			<string>{12, 0}</string>
			<key>Children</key>
			<array>
				<dict>
					<key>String</key>
					<string>date</string>
				</dict>
				<dict>
					<key>String</key>
					<string>datetime</string>
				</dict>
				<dict>
					<key>String</key>
					<string>time</string>
				</dict>
			</array>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.sub</string>
			<key>String</key>
			<string>.sub</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>

<!-- .t -->
		<dict>	
			<key>ID</key>
			<string>.type</string>
			<key>String</key>
			<string>.type</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.TZ</string>
			<key>String</key>
			<string>.TZ</string>
		</dict>

<!-- .u -->
		<dict>	
			<key>ID</key>
			<string>.union</string>
			<key>String</key>
			<string>.union</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>.unix-timestamp</string>
			<key>String</key>
			<string>.unix-timestamp</string>
			<key>PostString</key>
			<string>[]</string>
			<key>MoveCursor</key>
			<integer>2</integer>
		</dict>

<!-- .w -->
		<dict>
			<key>ID</key>
			<string>.week</string>
			<key>String</key>
			<string>.week</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.weekday</string>
			<key>String</key>
			<string>.weekday</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.weekyear</string>
			<key>String</key>
			<string>.weekyear</string>
		</dict>

<!-- .y -->
		<dict>	
			<key>ID</key>
			<string>.year</string>
			<key>String</key>
			<string>.year</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>.yearday</string>
			<key>String</key>
			<string>.yearday</string>
		</dict>

<!-- @a -->
	<dict>
		<key>ID</key>
		<string>@auto</string>
		<key>String</key>
		<string>@auto</string>
		<key>PostString</key>
		<string>[]</string>
		<key>MoveCursor</key>
		<integer>3</integer>
	</dict>

<!-- @b -->
		<dict>	
			<key>ID</key>
			<string>@BASE</string>
			<key>String</key>
			<string>@BASE</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>PostString</key>
			<string></string>
		</dict>

<!-- @c -->
		<dict>	
			<key>ID</key>
			<string>@CLASS</string>
			<key>String</key>
			<string>@CLASS</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>PostString</key>
			<string></string>
		</dict>

<!-- @g -->
		<dict>	
			<key>ID</key>
			<string>@GET_</string>
			<key>String</key>
			<string>@GET_</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>@GET_DEFAULT[]</string>
			<key>String</key>
			<string>@GET_DEFAULT[]</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>@GET[]</string>
			<key>String</key>
			<string>@GET[]</string>
		</dict>

<!-- @o -->
		<dict>	
			<key>ID</key>
			<string>@static:</string>
			<key>String</key>
			<string>@static:</string>
		</dict>

<!-- @o -->
		<dict>	
			<key>ID</key>
			<string>@OPTIONS</string>
			<key>String</key>
			<string>@OPTIONS</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>PostString</key>
			<string></string>
		</dict>

<!-- @s -->
		<dict>	
			<key>ID</key>
			<string>@SET_</string>
			<key>String</key>
			<string>@SET_</string>
		</dict>
		<dict>	
			<key>ID</key>
			<string>@SET_DEFAULT</string>
			<key>String</key>
			<string>@SET_DEFAULT</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>PostString</key>
			<string>[;]</string>
		</dict>

<!-- @u -->
		<dict>	
			<key>ID</key>
			<string>@unhandled_exception</string>
			<key>String</key>
			<string>@unhandled_exception</string>
			<key>MoveCursor</key>
			<integer>18</integer>
			<key>PostString</key>
			<string>[exception;stack]</string>
		</dict>

		<dict>	
			<key>ID</key>
			<string>@USE</string>
			<key>String</key>
			<string>@USE</string>
			<key>MoveCursor</key>
			<integer>1</integer>
			<key>PostString</key>
			<string></string>
		</dict>


		
	</array>

	<key>Contexts</key>
	<array>




<!--  @top -->
<!-- ^top ^top:attributes ^top[attributes] ^top{attributes} + -->
<!-- $top $top(attribute) $top.attribute $top:attribute + -->
<!-- $.top $.top() $.top[] + -->
<!-- .top .top[] + -->
<!-- ^if(-top ) ^if(-top ) -->

<!-- variable._top -->

	<dict>
		<key>Regex</key>
		<string>([\$\^]\w{1,512}\.?)(?&lt;top&gt;([\.\_][!\-\w]*))\z</string>
		<key>ShouldAppendCompletion</key>
		<false/>
		<key>ShouldCompleteAll</key>
		<false/>
		<key>ShouldCompleteInStringLiteral</key>
		<false/>
	</dict>

	<!-- $.top $.top(value) $.top{value} $.top[value]-->
		<dict>
			<key>Regex</key>
			<string>(?&lt;top&gt;(\$\.)[!\-\w]+[\(\[\{]?(\w*)?[\)\]\}]?)\z</string>
			<key>ShouldAppendCompletion</key>
			<false/>
			<key>ShouldCompleteAll</key>
			<false/>
			<key>ShouldCompleteInStringLiteral</key>
			<false/>
		</dict>

 	<!-- ^top ^top::attribute ^top:attribute -->

		<dict>
			<key>Regex</key>
			<!-- <string>(?&lt;top&gt;([\^\$]?)\w+)(?&lt;attribute&gt;(\.|:|::)?[!\-\w]*)?\z</string> -->
			<string>(?&lt;top&gt;\^[!\-\w]+)(?&lt;attribute&gt;(:|::)[!\-\w]*)?\z</string>
			<key>ShouldAppendCompletion</key>
			<false/>
			<key>ShouldCompleteAll</key>
			<false/>
			<key>ShouldCompleteInStringLiteral</key>
			<false/>
		</dict>

		<!-- $top $top:attribute  -->

 		<dict>
			<key>Regex</key>
			<string>(?&lt;top&gt;\$[!\-\w]+)\:(?&lt;attribute&gt;[!\-\w]*)?\z</string>
			<key>ShouldAppendCompletion</key>
			<false/>
			<key>ShouldCompleteAll</key>
			<false/>
			<key>ShouldCompleteInStringLiteral</key>
			<false/>
		</dict>

		<!-- $top.attribute $top._attribute -->
		<dict>
			<key>Regex</key>
			<string>(?&lt;top&gt;\$[!\-\w]+)(?&lt;attribute&gt;(\.|\._)[!\-\w]*)?\z</string>
			<key>ShouldAppendCompletion</key>
			<false/>
			<key>ShouldCompleteAll</key>
			<false/>
			<key>ShouldCompleteInStringLiteral</key>
			<false/>
		</dict>

		<!-- .top $top ^top .top[]  $top(attribute) ^top{attribute} ^top[attribute]  -->

		<dict>
			<key>Regex</key>
			<string>(?&lt;top&gt;(\$|\^|\.)[!\-\w]+)[\[\(\{]?(?&lt;attribute&gt;[\-\w]*)?[\]\)\}]?\z</string>
			<key>ShouldAppendCompletion</key>
			<false/>
			<key>ShouldCompleteAll</key>
			<false/>
			<key>ShouldCompleteInStringLiteral</key>
			<false/>
		</dict>

	

		<!-- ^if(top ) ^if(-top ) -->

		<dict>
			<key>Regex</key>
			<string>\^if\((?\$\w*)\s?(?&lt;top&gt;\-?(\w\s)+)\s*\)\z</string>
			<key>ShouldAppendCompletion</key>
			<false/>
			<key>ShouldCompleteAll</key>
			<false/>
			<key>ShouldCompleteInStringLiteral</key>
			<false/>
		</dict>

	</array>


	<key>Name</key>
	<string>Parser</string>

	<key>VariablePrefixes</key>
	<array>
		<string>$</string>
		<string>^</string>
	</array>

</dict>
</plist>
